.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(102, 155, 188, 0.4);
  pointer-events: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .custom-cursor {
    display: none;
  }
}
